<h1>By Mood</h1>

  <div class="field">
    <%= @playlist %>

  </div>

<h1>Based on queue</h1>

  <div class="field">
    <%= @playlist %>

  </div>

<h1>Based on library</h1>

  <div class="actions">
    <%= @playlist %>

  </div>

<button type="button" class="btn btn-warning">Surprise Me!</button>
