<main>
<div class="container">

<h1>Based on queue</h1>

<section class="content">

<div class="scrolling-wrapper">
  <% @songs.each do |song|%>
  <div class="card"><h2> <%= song.name %></h2></div>
  <% end  %>

</div>

<h1>Based on Spotify library</h1>

<div class="scrolling-wrapper">
  <% @songs.each do |song|%>
  <div class="card"><h2> <%= song.name %></h2></div>
  <% end  %>


<button type="button" class="btn btn-warning">Surprise Me!</button>
</section>
</div>
<%# add to our playlist %>
<%# div that flex and overflows %>
<%# form %>
</main>
