// Define variables for your color scheme
:root {
  --frame-width: 380px;
}
// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #FF7900;
$green: #1EDD88;
$gray: #3a3a3a;
$light-gray: #F4F4F4;
