<!-- Input -->
<div class="searchInput">
  <%= form_with url: playlist ? playlist_path(playlist) : playlists_path,
                method: :get,
                local: true,
                class: "playlist-search-form" do %>

    <div class="playlist-search-pill">

      <%# <span class="playlist-search-icon"></span> %>
      <i class="fa-solid fa-magnifying-glass playlist-search-icon" style="color: black"></i>

      <%= text_field_tag :query,
                        params[:query],
                        placeholder: "What song do you want to sing...",
                        class: "playlist-search-input" %>

      <%= submit_tag "Search", class: "playlist-search-button" %>

    </div>

  <% end %>
</div>
