<!-- Input -->
<div class="searchInput">
  <%= form_with url: playlist ? playlist_path(playlist) : playlists_path,
                method: :get,
                local: true,
                class: "playlist-search-form" do %>

    <div class="playlist-search-pill">

      <%# <span class="playlist-search-icon"></span> %>

      <%= text_field_tag :query,
                        params[:query],
                        placeholder: "Search in playlist",
                        class: "playlist-search-input" %>

      <%= submit_tag "search", class: "playlist-search-button" %>

    </div>

  <% end %>
</div>
