<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path("icons/My Karaoke image.png") %>');">
  <div class="container bg-transparent">
    <div class= "banner-content">
      <div class="text-content">
        <h1><strong>Don't know what to sing today?</strong></h1>
        <br>
        <p>Find out your next song from your Spotify playlist or from our world class AI suggestions !</p>
      </div>
      <div class="landing-bottom">
        <p class="landing-tagline">Less Thinking, More Singing !</p>
        <a class="landing_btn btn btn-flat" href="home">Start Here</a>
      </div>
    </div>
  </div>
</div>
