

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: white;

  .scrolling-card {
    display: inline-block;
  }
}

.scrolling-card {
  border: 2px solid;
  width: 300px;
  height: 160px;
  background: grey;
  font-size: 6px;
  border-radius: 16px;
}


.scrolling-wrapper, .scrolling-wrapper-flexbox {
  height: 160px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}
