

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: white;

  .scrolling-card {
    display: inline-block;
  }
}

.scrolling-card {
  box-shadow: none;
  width: 180px;
  height: 230px;
  background: transparent;
  font-size: 6px;
  border-radius: 16px;
  margin-right: 8px;
}


.scrolling-wrapper, .scrolling-wrapper-flexbox {
  height: 240px;
  margin-bottom: 5px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}
