.badges-copy {
  font-size: 0.75rem;
  opacity: 0.75;
  color: rgba(255, 255, 255, 0.8);
}

.badges-or {
  margin: 0 4px;
  font-size: 0.7rem;
  opacity: 0.6;
}

// .badge-icon {
//   height: 12px;
//   margin: 0 2px;
//   opacity: 0.55;
//   filter: grayscale(100%) brightness(.9);
//    vertical-align: middle;
// }

.badge-icon[src*="DAM"] {
  height: 12px;
  margin: 0 2px;
  opacity: 0.75;

  filter:
    brightness(1.05)
    saturate(0.8)
    contrast(0.9);
}

.badge-icon[src*="JOY"] {
  height: 12px;
  margin: 0 2px;
  opacity: 0.75;

  filter:
    grayscale(20%)
    saturate(85%)
    brightness(1.2)
    sepia(40%)
    hue-rotate(-20deg);
}

.badge-icon {
  vertical-align: middle;
}
