.navbar-lewagon {
  justify-content: space-between;
  background: #3a3a3a;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
}

.navbar-lewagon .navbar-toggler-icon {
  filter: invert(55%) sepia(90%) saturate(900%) hue-rotate(2deg) brightness(100%) contrast(105%);
}
