.navbar-lewagon {
  justify-content: space-between;
  background: #3a3a3a;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
}

.navbar-lewagon .navbar-toggler-icon {
  filter: invert(55%) sepia(90%) saturate(900%) hue-rotate(2deg) brightness(100%) contrast(105%);
}

.navbar-lewagon .nav-link {
  color: #ffffff;
  font-size: 1rem;
}

.navbar-lewagon .nav-link:hover {
  opacity: 0.8;
}


// dropdown

@media (max-width: 575.98px) {
  .navbar-lewagon .navbar-menu {
    position: absolute;
    top: 100%;
    right: 0.75rem;
    left: auto;
    width: 160px;
    background: #2b2b2b;
    border-radius: 16px;
    padding: 0.5rem 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    z-index: 1000;
  }

  .navbar-lewagon .navbar-menu .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-lewagon .navbar-menu .nav-link {
    width: 100%;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .navbar-lewagon .navbar-menu .nav-link:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}
