.searchInput {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.playlist-search-pill {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  max-width: 320px;
  padding: 8px 12px;

  border-radius: 999px;
  background: #d9d9d9;
}

/* icon */
.playlist-search-icon {
  font-size: 14px;
  color: #666;
}

/* input */
.playlist-search-input {
  all: unset;
  flex: 1;
  font-size: 13px;
  color: #222;
}

.playlist-search-input::placeholder {
  color: #999;
}

.playlist-search-button {
  border: none;
  border-radius: 999px;
  padding: 5px 12px;
  font-size: 11px;
  background: #444;
  color: #fff;
  cursor: pointer;
}

/* effect */
.playlist-search-pill:focus-within {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}
