<div class="playlist-footer">
  <%= link_to (params[:query].present? ? playlist_path(playlist) : playlists_path), class: "btn btn-warning playlist-footer-btn" do %>
    <i class="fa-solid fa-angle-left"></i>
  <% end %>
  <%= link_to user_path(current_user, current_playlist_id: playlist.id),
            data: { turbo_method: :patch },
            class: "btn btn-warning playlist-footer-btn",
            style: "width: auto; height: auto; padding: 0.75rem 1.5rem; border-radius: 12px;" do %>
    Add all to karaoke session
  <% end %>
</div>
