<div class="container">
  <h1><%= @playlist.name %></h1>
  <ul>
    <% @playlist.playlist_songs.each do |playlist_song| %>
      <li>
        <strong><%= playlist_song.song.name %></strong>
        — <%= playlist_song.song.artist %>
      </li>
    <% end %>
    <%= link_to "Make Current Playlist", user_path(current_user, current_playlist_id: @playlist.id),
            data: { turbo_method: :patch },
            class: "btn btn-success" %>
  </ul>
</div>
